services:
  traefik:
    ports:
      - "${GATEWAY_LISTEN_PORT:-9090}:${GATEWAY_LISTEN_PORT:-9090}"
      - "${API_LISTEN_PORT:-9000}:${API_LISTEN_PORT:-9000}"
      - "${UI_LISTEN_PORT:-5173}:${UI_LISTEN_PORT:-5173}"
