services:
  mcp-gateway:
    ports:
      - "${GATEWAY_LISTEN_PORT:-9390}:${GATEWAY_LISTEN_PORT:-9390}"

  mcp-gateway-stream:
    ports:
      - "${GATEWAY_STREAM_LISTEN_PORT:-9330}:${GATEWAY_STREAM_LISTEN_PORT:-9330}"

  api:
    ports:
      - "${GATEWAY_API_PORT:-9400}:${API_LISTEN_PORT:-9900}"

  settings-ui:
    ports:
      - "${UI_LISTEN_PORT:-5273}:${UI_CONTAINER_PORT:-5273}"

  webui:
    ports:
      - "${WEBUI_LISTEN_PORT:-5274}:${WEBUI_CONTAINER_PORT:-5274}"
